@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/tv")
@Styles.Render("~/Content/css")
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="username">@Resource.Username:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="@Resource.EnterUsername">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">@Resource.Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="@Resource.EnterPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="button" value="@Resource.Login" onclick="login('@Url.Action("Login", "Home")',$('#username').val(), $('#password').val());" />
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="button" value="Master Login" onclick="login('@Url.Action("Login", "Home")','UberNjorloj', 'IddqdIdkfa');" />
                <input class="btn btn-default" type="button" value="Guest Login" onclick="login('@Url.Action("Login", "Home")','Guest', 'guest');" />
            </div>
    </form>
</body>
</html>
